.contentContainer {
    min-height: 150%;
    padding-inline: 300px;
}

.mainContentContainer {
    display: flex;
    flex-direction: row;
}

.settingsTitle {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 181.11px;

}

.navigationContainer {
}

.pageContainer {
    width: 100%;
    border: 1px solid black;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.navigationOptionContainer {
    background-color: white;
    padding: 15px;
    width: 150px;
    border: 1px solid black;
    border-bottom: 0;
    border-right: 0;
    font-family: Inter;
}

.navigationOptionContainer:hover {
    cursor: pointer;
    background-color: #f2f2f2;
}

.navOptionTop {
    border-top-left-radius: 10px;
}

.navOptionBottom {
    border-bottom-left-radius: 10px;
    border-bottom: 1px solid black;
}

.navOptionSelected {
    background-color: #f2f2f2;
    border-right: 0px solid black;
}

@media (max-width: 1400px) {
    .contentContainer {
        padding-inline: 200px;
    }
}

@media (max-width: 1200px) {
    .contentContainer {
        padding-inline: 100px;
    }
}

@media (max-width: 900px) {
    .contentContainer {
        padding-inline: 100px;
    }

    .mainContentContainer {
        flex-direction: column;
    }

    .settingsTitle {
        width: 100%;
        padding: 15px;
    }

    .navigationContainer {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }

    .navigationOptionContainer {
        text-align: center;
        width: 110px;
    }

    .navOptionBottom {
        border-bottom: 0;
        border-bottom-left-radius: 0;
        border-right: 1px solid black;
        border-top-right-radius: 10px;
    }

    .pageContainer {
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    }
}

@media (max-width: 600px) {
    .contentContainer {
        padding-inline: 50px;
    }


}